{% extends 'user.html'%}
{% load static%}
{% block content %}

        <div>
             <center ><br><br><br><br><br><br>

                 <h1>Compost making at home</h1><br><br>
                 <img src="{% static 'images/img.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>1. In the paint bucket add holes in the bottom and in the sides to allow air to pass through.</h3><br><br>
                 <img src="{% static 'images/img1.jpg'%}" alt="img1" width="400" height="400"><br><br><br><br>
                 <h3>2. Once you started adding vegetable waste it will release brown colour liquid,<br> if you have holes in the
bottom you can collect that. <br> To collect that liquid you have to place a small container below the
bucket as shown.</h3><br><br>
                 <h3>3. First we add dry leaves, if dry leaves are not available you can use cardboard <br>boxes or paper instead
of dry leaves, next add coconut fibre. one by to add all things.</h3><br>
                 <br>
                 <h3>Next add all kitchen vegetable wastes the adding vegetables should be dry not watery. <br> Next add butter
milk or curd and mix well. Butter milk helps to increase microorganism growth.</h3><br>
                 <br>
                 <img src="{% static 'images/img2.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>4. cover it with lid and keep this in shade, we should not keep it direct sun light. <br>You have placed the
bucket under the staircase and its been 3 days.</h3><br><br>
                 <img src="{% static 'images/img3.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>5. After 3 days little bit changes a colour. Every time before adding vegetable waste mix well. <br> You can
add vegetable waste daily or 3 days once you can add the vegetables. <br><br>
6. you need to mix well every time otherwise it will start to smell bad or form insects. <br> If you use
bigger container then it will be difficult to mix so use this kind of small container. <br><br>
7. you can add all kind of vegetable waste avoid adding citrus fruit and nonveg items as it will make <br>
your compost smell bad. Daily or 3 days once add vegetable waste and mix well till the bucket get <br>
half full.</h3><br><br>
                 <img src="{% static 'images/img4.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>8.you can use tea dust, banana peel and Egg shells as it will make your compost high in nutrients.
                     <br>
Some vegetables like Beetroot, Guard, etc., will release more water so dry it in sunlight for 1 day and<br>
add.<br><br>

If the compost become over wet, you need to add dry leaves or wood dust or cardboard box. Before<br>
adding crush, the leaves as small and add. You need to maintain the right moisture un the compost<br>
then only it will help the microorganism to grow fast. If your compost is dry add very little water or<br>
butter milk and mix well</h3><br><br>

                 <img src="{% static 'images/img5.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>9.After one month you will see a brown colour liquid collects in the bottom container. Collect the<br>
liquid (200 ml) and mix it with 20 litre of water and you add it to all plants.</h3><br><br>

                 <img src="{% static 'images/img6.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>10.its over 35 days now and the bucket is half full, from now on we don’t need to add vegetable waste<br>
in it.</h3><br><br>

                 <img src="{% static 'images/img7.jpg'%}" alt="img1" width="400" height="400"><br><br>
                 <h3>11.you can use vegetable strainer for filtering the compost. After filtering to get fine power form of<br>
compost.it will be very soft it should not stick in your hand it should be loose . Add a handful of this<br>
to your plants 15 days once for best results.</h3><br><br>


             </center>
        </div>


{% endblock %}